body {
  background-color: #eec5f0; /* or any color code you prefer */
}
.objective{
  position: relative;
  top:70px;
  margin: 30px 0px 20px 0px;
   text-align: center;
   color: rgb(0, 0, 0);
   -webkit-text-stroke: 1px rgb(214, 133, 214);


}

.navbar{
  background-color: rgb(224, 166, 217);
  height: 80px;
  position: fixed;
  top:0px;
  width: 100vw;
  z-index: 10;
}

.navbar>h1{
  display: inline-block;
  position: relative;
  top:-5px;
  left: 10px;
  color: #ffff;
  -webkit-text-stroke: 1px black;
}
.navbar>img{
 height: 90px;
 float: right;
 position: relative;
 top: -12px;
 z-index: 2;
}
.cat-codes{
  position: relative;
  height: 70vh;
  top:60px;
  flex-wrap: wrap;
  display: flex;
  border: 10px sold black;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 1;
}

.item-div{
  display: flex;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-shadow:  5px 5px 10px grey;;
  background-color:rgb(224, 166, 217);
  color: white;
  border-radius: 10%;
  -webkit-text-stroke: 1px black;
  user-select: none
  
}

.item-color-100{
 background-color:rgb(224, 166, 217) ;
}
.item-color-200{
  background-color:rgb(221, 136, 211) ;
 }
 .item-color-300{
  background-color:rgb(223, 103, 209) ;
 }
 .item-color-400{
  background-color:rgb(216, 98, 202) ;
 }
 .item-color-500{
  background-color:rgb(214, 60, 196);
 }
 .dialog-img{
    border-radius: 2%;
    width:400px;
    height: 400px;
 }

 @media screen and (max-width:500px){
  .dialog-img{
    width:280px;
    height: 280px;
  }
  
 }
