.switch{
    background-color: rgb(224, 166, 217); 
    width: 150px;
    text-align: center;
    border-radius: 50px;
    position: absolute;
    top:58px;
    right: 0px;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px rgb(214, 133, 214);
    font-weight: 700;
    z-index: 1;
    border-bottom:2px solid black;
   }